<main class="index">

    <header class="masthead d-flex">
            <div class="container text-center my-auto">
                <h1 class="mb-1">Notes App</h1>
                <h3 class="mb-5">
                    <em>Store your notes, Links or add your To Do list</em>
                </h3>
                <a href="/signin" class="btn btn-primary"> Let's get Started</a>
            </div>
            <div class="fixed-bottom text-center">
                <h6 class="animate__animated animate__bounce">ZeroxBlack 2020 &copy;</h6>
            </div>
    </header>
</main>

